header{
    display: none;
}
.login, .aregister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aregister{
    font-size: 1.2em;
}

.aregister a {
    color: black;
    transition: color 0.3s ease; 
}

.aregister a:hover {
    color: #1BBC9B;
}
.flash-messages {
    background-color: #1BBC9B;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    color: #333;
}

.flash-error {
    background-color: transparent;
    color: black;
}
