<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Animal | Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
</head>
<body>
    <header>
        <!-- Cabeçalho (se necessário) -->
    </header>

    <main>
        <img id="img_findanimal" src="{{ url_for('static', filename='assets/logo_find_animal350.png') }}" alt="logo_find_animal">
        <h1>Cadastro</h1>

        <!-- Formulário de cadastro -->
        <form id="formregister" action="{{ url_for('register') }}" method="POST">
            <div id="infologin">
                <label for="remail">Email</label>
                <input id="remail" name="email" type="email" required>

                <label for="rsenha">Senha</label>
                <input id="rsenha" name="password" type="password" required>

                <label for="rconfirmarsenha">Confirme sua senha</label>
                <input id="rconfirmarsenha" name="confirm_password" type="password" required>
            </div>

            <div id="infopessoa">
                <label for="inome">Nome de usuário</label>
                <input type="text" id="inome" name="username" required>

                <button type="submit" id="register">Cadastre-se</button>    
            </div>
     
        </form>
    </main>

    <footer>
        <!-- Rodapé (se necessário) -->
    </footer>

    <script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </script>
</body>
</html>
